<div class="container-fluid" ng-controller="ProjectsCtrl as projects" ng-init="projects.loadMyCommits()">
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-5" id="github-commits">
			<timeline>
				<timeline-event ng-repeat="commit in projects.myCommits">
					<timeline-badge class="info">
				    	<i class="glyphicon glyphicon-check"></i>
				    </timeline-badge>
				    <timeline-panel class="info">
						<timeline-heading>
				    		<h4>
				    			{{ commit.repoName }}
						    	<span style="float:right;">
						    		<small> {{ commit.createdAt | date }} </small>
						    	</span>
				    		</h4>
				   		</timeline-heading>
				    	<p>{{ commit.message }}</p>
				    	<small><a href="{{ commit.url }}" target="_blank">view commit</a></small>
					</timeline-panel>
				</timeline-event>
			</timeline>
		</div>


		<div class="col-md-6" id="project-detail">
			<dt>Project:</dt> <dd> {{ projects.selectedProject.title }} </dd>
			<br>
			<dt>Description:</dt>
			<dd><p ng-bind-html="projects.selectedProject.description | markdown"></p></dd> <br>
			<dt>Technologies:</dt>
			<dd>
				<ul>
					<li ng-repeat="tech in projects.selectedProject.tech"> {{tech}} </li>
				</ul>
			</dd>
		</div>
	</div>
</div>