<div class="container-fluid" ng-controller="ProjectsCtrl as projects" ng-init="projects.loadMyCommits()">
	<div class="row" style="margin-top: 20px;">
		<div class="col-sm-4" id="github-commits">
			<div class="row"><p class="col-sm-12">Commit History</p></div>
			<timeline>
				<timeline-event ng-repeat="commit in projects.myCommits">
					<timeline-badge class="info">
				    	<i class="glyphicon glyphicon-check"></i>
				    </timeline-badge>
				    <timeline-panel class="info">
						<timeline-heading>
				    		<h4>
				    			{{ commit.repoName }}
				    		</h4>
				   		</timeline-heading>
				    	<p>{{ commit.message }}</p>
					<timeline-heading>
						<p><small> on {{ commit.createdAt | date }} - <a href="{{ commit.url }}" target="_blank">view commit</a> </small></p>
					</timeline-heading>
					</timeline-panel>
				</timeline-event>
			</timeline>
		</div>


		<div class="col-sm-7" id="project-detail">
			<dt>Project:</dt> 
			<dd> 
				{{ projects.selectedProject.title }} <br>
			</dd>
			<br>
			<dt>Technologies:</dt>
			<dd>
				<li style="display: inline" ng-repeat="tech in projects.selectedProject.tech"> 
					<span ng-if="$index > 0"> | </span>
					{{tech}} 
				</li>
			</dd>
			<br>
			<dt>Description:</dt>
			<dd><p ng-bind-html="projects.selectedProject.description | markdown"></p></dd>
		</div>
	</div>
</div>